:root{
    --pTxtColor: black;
    --sTxtColor: darkgrey;
    --tTxtColor: grey;
    --pBckColor: white;
    --sBckColor: lightblue;
    --tBckColor: CornflowerBlue;
    --transparent: rgba(0,0,0,0);
    --bigSize: 3vh;
    --medSize: 2vh;
    --smlSize: 1.5vh;
    --footer_size: 5vh;
}
.container{
    display:grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    /*overflow: hidden;*/
    font-size: var(--bigSize);
}
.item{
    background-color: rgba(212, 150, 34, 0.541))
}