:root{
    --pTxtColor: rgba(39, 76, 119, 1);
    --sTxtColor: darkgrey;
    --pBckColor: rgba(224, 141, 172, 1);
    --sBckColor: rgba(205, 255, 249, 1);
    --tBckColor: rgba(246, 245, 174, 1);
    --qBckColor: rgba(129, 240, 229, 1);
    --transparent: rgba(0,0,0,0);
    --sTxt: 2vh;
    --lTxt: 3vh;
}
.container{
    display:grid;
    box-sizing: border-box;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 5vh 90vh 5vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: var(--lTxt);
    color: var(--pTxtColor);
}
.navigation{
    display: grid;
    grid-column: 1/span 3;
    grid-row: 1/1;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: var(--pBckColor);
    overflow: hidden;
    box-shadow: 0 0 5px;
    z-index: 1;
}
.navlink {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: wheat;
    border-bottom: 1px solid var(--transparent);
}
.navlink a{
    text-decoration: none;
}
.navlink a:active{
    color: var(--pTxtColor);
}
.navlink a:visited{
    color: var(--pTxtColor);
}
.navlink:hover{
    border-bottom: 1px solid var(--qBckColor);
}

.socials{
    position: relative; top:1fr;
    width: 100vw;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--lTxt);
    padding:0.1em;
}
.facebook{
    color: red;
}







/* to use grid properly remember about :nth-child(6)*/ 