:root{
    --pTxtColor: black;
    --sTxtColor: darkgrey;
    --tTxtColor: grey;
    --pBckColor: white;
    --sBckColor: lightblue;
    --tBckColor: CornflowerBlue;
    --bigSize: 1em;
    --medSize: 0.8em;
    --smlSize: 0.5em;
    
}  
.container{
    display:grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em 1fr 1fr 1fr 1em;
    grid-template-areas: 
        'n n n n n n n n n'
        't . c c c c c c .'
        't . c c c c c c .'
        't . c c c c c c .'
        'f f f f f f f f f';
}
.navbar{
    grid-area: n;
    background-color: var(--sBckColor);
    position:sticky; top:0;
}
.threads{
    grid-area: t;
    background-color: var(--pBckColor);
}
.content{
    grid-area: c;
    background-color: var(--pBckColor);
}
.background{
    background-image: url('https://images.pexels.com/photos/1029411/pexels-photo-1029411.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: contain;
}
.footer{
    grid-area: f;
    background-color: var(--sBckColor);
    padding: 0.5em;
}
  